* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
#header {
    padding: 15px;
    background-color: rgba(34, 193, 195, 1); /* Color azul claro */
    color: white;
    grid-column: 1 / 4;
}
#aside-left {
    grid-column: 1 / 2;
    padding: 15px;
    background-color: rgba(255, 153, 51, 1); /* Color naranja */
    color: white;
}
#aside-right {
    grid-column: 3 / 4;
    padding: 15px;
    background-color: rgba(255, 153, 51, 1); /* Color naranja */
    color: white;
}
#main {
    grid-column: 2 / 3;
    padding: 15px;
    background-color: rgba(66, 134, 244, 1); /* Color azul */
    color: white;
}
#footer {
    grid-column: 1 / 4;
    padding: 15px;
    background-color: rgba(34, 193, 195, 1); /* Color azul claro */
    color: white;
}
.keyword {
    font-size: 1.3em;
    color: darkorange; /* Color anaranjado oscuro */
    /* border: 5px dashed green; */
}
